body{
    background-color: #0a1a2a;
}
form{
    color: white;
    font-family: Arial;
}
form  label,form input{
    display: block;
    margin-left: 20%;
    border-radius: 2%;

}
h1{
    color: white;
    text-align: center;
}
.contenedor1{
    font-family: Arial;
    margin-left: 45%;
    text-align: center;
    background-color: white;
    height: 250px;
    width: 200px;
    border-radius: 2%;
    color:  #0a1a2a;
    
}
#boton{
    margin-top: 1%;
    border-radius: 20% blue;
    background-color: blue;
    color: white;
    margin-left: 20%;
    width: 6%;
}
.conte2{
    font-family: Arial;
    margin-left: 25%;
    background-color: white;
    text-align: center;
    height: 250px;
    width: 200px;
    border-radius: 2%;
    color:  #0a1a2a;
}
.conte3{
    margin-top: -19%;
    margin-left: 65%;
    background-color: white;
    text-align: center;
    height: 250px;
    width: 200px;
    border-radius: 2%;
    color: #0a1a2a;
    font-family: Arial;
}
#puestoim1{
    height: 40px;
    width: 40px;
}
#puestoim2{
    height: 40px;
    width: 40px;
}
#puestoim3{
    height: 40px;
    width: 40px;
}
.conte{
    display: inline-flex;
    
}